<div>
	<p>
	  <b>Body:</b>
	  <%= comment.body %>
	</p>
	<%= link_to 'Reply', new_comment_path(:parent_id => comment.id) %>
	<% if comment.children.any? %>
		<blockquote>
			<%= render comment.children %>
		</blockquote>
	<% end %>
</div>