<ol>
<% @comments.each do |comment| %>
  <li>
    <div class='lead'>
			<%= link_to comment.title, comment %> 
    </div> 
    <small>
	    <%= link_to 'Edit', edit_comment_path(comment) %>
	    <%= link_to 'Destroy', comment, confirm: 'Are you sure?', method: :delete %>
	  </small>
  </li>
<% end %>
</ol>

<br />

<%= link_to 'New Comment', new_comment_path %>
