// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.myspan {
  width:11px;
  margin-left:-24px;
  text-align:center;
}